<!DOCTYPE html>
<html>

<head>
	<title>Market</title>
	<meta charset="utf-8" />
	<link href="./css/bootstrap.min.css" rel="stylesheet" />
	<link href="./css/style.css" rel="stylesheet" />
	<link href="./css/app.css" rel="stylesheet" />

	<script src="./common/angular.min.js"></script>
	<script src="./common/angular-route.min.js"></script>
	<script src="./common/angular-cookies.min.js"></script>
	<script src="./common/jquery.min.js"></script>
	<script src="./common/bootstrap.min.js"></script>

	<script src="./app.js"></script>
	<script src="./controllers/categoriesCtrl.js"></script>
	<script src="./services/productService.js"></script>
	<script src="./services/basketService.js"></script>
	<script src="./services/orderService.js"></script>
	<script src="./services/accountService.js"></script>

	<script src="./controllers/productCtrl.js"></script>
	<script src="./controllers/mainCtrl.js"></script>
	<script src="./controllers/searchCtrl.js"></script>
	<script src="./controllers/basketCtrl.js"></script>
	<script src="./controllers/ordersCtrl.js"></script>
</head>

<body ng-app="app" ng-controller="mainCtrl">
	<nav class="navbar navbar-inverse navbar-fixed-top" ng-init="init()">
		<div class="container-fluid">
			<div class="navbar-header">

			</div>
			<ul class="nav navbar-nav menu-nav" style="font: 20px arial;">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
            Categories <span class="caret"></span>
          </a>
					<div class="dropdown-menu row" style="width: 600px; z-index: 2000;">
						<div class="col-sm-6 col-md-4" ng-repeat="item in categories">
							<a class="thumbnail" href="#categories/{{item.name}}">
								<img ng-src="{{item.imgUrl}}" alt="..." width="50">
								<div class="caption">
									<p style="text-align: center;">{{item.name}}</p>
								</div>
							</a>
						</div>

					</div>
				</li>

				<div class="input-group" style="position: absolute; top: 10px; right: 275px; width: 20%;">
					<input type="text" class="form-control" style="border-radius: 20px;" placeholder="search" ng-model="searchText">
					<!--a class="input-group-addon btn-default" href="#/search/{{searchText}}">OK</a-->
				</div>

			</ul>

			<ul class="nav navbar-nav navbar-right" style="font: 20px arial;">

				<li>
					<a href="#/basket"><img src="./images/basket.png" width="25" /> Basket</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">
            {{loginLog}}
            <span class="caret"></span>
          </a>
					<ul class="dropdown-menu" style="font: 20px arial;">
						<li style="cursor: pointer;" ng-show="!isLogin">
							<a ng-click="onShowSignUpDlg()">Sign up</a>
						</li>
						<li style="cursor: pointer;" ng-show="!isLogin">
							<a ng-click="onShowLoginDlg()">Log in</a>
						</li>
						<li style="cursor: pointer;" ng-show="isLogin">
							<a href="#/orders">Orders</a>
						</li>
						<li style="cursor: pointer;" ng-show="isLogin">
							<a ng-click="onLogOut()">Log out</a>
						</li>
					</ul>
				</li>
			</ul>

		</div>
	</nav>

	<div ng-view class="ng-scope" class="viewMax"></div>

	<div id="signUpModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create new account</h4>
				</div>
				<div class="modal-body form-horizontal">
					<div class="alert alert-danger" ng-show="signUpError">
						<strong>Error!</strong> {{signUpErrorMessage}}
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2 input-lg">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control input-lg" ng-model="signUpModel.email" placeholder="Enter email">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2 input-lg">Password:</label>
						<div class="col-sm-10">
							<input type="password" class="form-control input-lg" ng-model="signUpModel.pass" placeholder="Enter password">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2 input-lg">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control input-lg" ng-model="signUpModel.name" placeholder="Enter name">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2 input-lg">Second name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control input-lg" ng-model="signUpModel.secondName" placeholder="Enter second name">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2 input-lg">Address:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control input-lg" ng-model="signUpModel.address" placeholder="Enter address">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2 input-lg">Phone:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control input-lg" ng-model="signUpModel.phone" placeholder="Enter phone">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success btn-lg" ng-click="onSignUpCLick()">Submit</button>
				</div>
			</div>
		</div>
	</div>

	<div id="loginDlg" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Login</h4>
				</div>
				<div class="modal-body form-horizontal">

					<div class="alert alert-danger" ng-show="loginError">
						<strong>Error!</strong> {{loginErrorMessage}}
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2 input-lg">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control input-lg" ng-model="login.email" placeholder="Enter email">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2 input-lg">Password:</label>
						<div class="col-sm-10">
							<input type="password" class="form-control input-lg" ng-model="login.pass" placeholder="Enter password">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success btn-lg" ng-click="onLoginClick()">Login</button>
				</div>
			</div>

		</div>
	</div>
</body>

</html>