.viewMax {
  position: absolute;
  top: 50px; 
  left: 0px;
  width: 100%; 
  height: calc(100% - 75px); 
  overflow-y: scroll;
}

.viewMin {
  position: absolute;
  top: 50px; 
  left: 20%;
  width: 80%; 
  height: calc(100% - 75px); 
  overflow-y: scroll;
}

.menu-nav {

}

.menu-nav:hover {
  background-color:  #000000;
}